/*Developer: Pegah Tavakoli */


/* Top Navigation- Centred list navbar- used from: http://css.maxdesign.com.au/listamatic/horizontal16.htm */

nav ul
{
padding: .8em 0;
margin: 0;
list-style-type: none;
background-color: LightSeaGreen;
color: LightSeaGreen;
width: 100%;
font: 20px arial, helvetica, sans-serif;
text-align: center;
}

li { display: inline; }

li a
{
text-decoration: none;
background-color: #FFF;
color: LightSeaGreen;
padding: .2em 1em;
border-right: 1px solid #fff;

}

li a:hover
{
background-color: #369;
color: #fff;
}

/*-----------------------------------------------------------------------------*/

